@import "./tellicons-variables";

@mixin icons(){


@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jzf5cl');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jzf5cl#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?jzf5cl') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?jzf5cl') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?jzf5cl##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.tellicons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code {
  &:before {
    content: $icon-code; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-unfold_more {
  &:before {
    content: $icon-unfold_more; 
  }
}
.icon-check_box {
  &:before {
    content: $icon-check_box; 
  }
}
.icon-check_box_outline_blank {
  &:before {
    content: $icon-check_box_outline_blank; 
  }
}
.icon-indeterminate_check_box {
  &:before {
    content: $icon-indeterminate_check_box; 
  }
}
.icon-toggle_off {
  &:before {
    content: $icon-toggle_off; 
  }
}
.icon-toggle_on {
  &:before {
    content: $icon-toggle_on; 
  }
}
.icon-two_wheeler {
  &:before {
    content: $icon-two_wheeler; 
  }
}
.icon-activity {
  &:before {
    content: $icon-activity; 
  }
}
.icon-alert-octagon {
  &:before {
    content: $icon-alert-octagon; 
  }
}
.icon-award {
  &:before {
    content: $icon-award; 
  }
}
.icon-bell {
  &:before {
    content: $icon-bell; 
  }
}
.icon-bell-off {
  &:before {
    content: $icon-bell-off; 
  }
}
.icon-bluetooth {
  &:before {
    content: $icon-bluetooth; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-camera {
  &:before {
    content: $icon-camera; 
  }
}
.icon-camera-off {
  &:before {
    content: $icon-camera-off; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-chevrons-down {
  &:before {
    content: $icon-chevrons-down; 
  }
}
.icon-chevrons-left {
  &:before {
    content: $icon-chevrons-left; 
  }
}
.icon-chevrons-right {
  &:before {
    content: $icon-chevrons-right; 
  }
}
.icon-chevrons-up {
  &:before {
    content: $icon-chevrons-up; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-image {
  &:before {
    content: $icon-image; 
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin; 
  }
}
.icon-navigation {
  &:before {
    content: $icon-navigation; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-printer {
  &:before {
    content: $icon-printer; 
  }
}
.icon-repeat {
  &:before {
    content: $icon-repeat; 
  }
}
.icon-rotate-ccw {
  &:before {
    content: $icon-rotate-ccw; 
  }
}
.icon-rotate-cw {
  &:before {
    content: $icon-rotate-cw; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart; 
  }
}
.icon-sliders {
  &:before {
    content: $icon-sliders; 
  }
}
.icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down; 
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up; 
  }
}
.icon-trash-2 {
  &:before {
    content: $icon-trash-2; 
  }
}
.icon-trending-down {
  &:before {
    content: $icon-trending-down; 
  }
}
.icon-trending-up {
  &:before {
    content: $icon-trending-up; 
  }
}
.icon-truck1 {
  &:before {
    content: $icon-truck1; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-users {
  &:before {
    content: $icon-users; 
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi; 
  }
}
.icon-wifi-off {
  &:before {
    content: $icon-wifi-off; 
  }
}
.icon-x {
  &:before {
    content: $icon-x; 
  }
}
.icon-x-square {
  &:before {
    content: $icon-x-square; 
  }
}
.icon-zap {
  &:before {
    content: $icon-zap; 
  }
}
.icon-zap-off {
  &:before {
    content: $icon-zap-off; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-chat-2 {
  &:before {
    content: $icon-chat-2; 
  }
}
.icon-heart-o {
  &:before {
    content: $icon-heart-o; 
  }
}
.icon-long-arrow-down {
  &:before {
    content: $icon-long-arrow-down; 
  }
}
.icon-long-arrow-up {
  &:before {
    content: $icon-long-arrow-up; 
  }
}
.icon-long-arrow-left {
  &:before {
    content: $icon-long-arrow-left; 
  }
}
.icon-long-arrow-right {
  &:before {
    content: $icon-long-arrow-right; 
  }
}
.icon-dots-three-vertical {
  &:before {
    content: $icon-dots-three-vertical; 
  }
}
.icon-chart-bar {
  &:before {
    content: $icon-chart-bar; 
  }
}
.icon-dots-three-vertical {
  &:before {
    content: $icon-dots-three-vertical; 
  }
}
.icon-chart-bar {
  &:before {
    content: $icon-chart-bar; 
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-view-tile {
  &:before {
    content: $icon-view-tile; 
  }
}
.icon-mic {
  &:before {
    content: $icon-mic; 
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-compass {
  &:before {
    content: $icon-compass; 
  }
}
.icon-spinner3 {
  &:before {
    content: $icon-spinner3; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-equalizer {
  &:before {
    content: $icon-equalizer; 
  }
}
.icon-equalizer2 {
  &:before {
    content: $icon-equalizer2; 
  }
}
.icon-meter {
  &:before {
    content: $icon-meter; 
  }
}
.icon-truck {
  &:before {
    content: $icon-truck; 
  }
}
.icon-switch {
  &:before {
    content: $icon-switch; 
  }
}
.icon-sphere {
  &:before {
    content: $icon-sphere; 
  }
}
.icon-attachment {
  &:before {
    content: $icon-attachment; 
  }
}
.icon-star-empty {
  &:before {
    content: $icon-star-empty; 
  }
}
.icon-star-half {
  &:before {
    content: $icon-star-half; 
  }
}
.icon-star-full {
  &:before {
    content: $icon-star-full; 
  }
}
.icon-warning {
  &:before {
    content: $icon-warning; 
  }
}
.icon-volume-medium {
  &:before {
    content: $icon-volume-medium; 
  }
}
.icon-command {
  &:before {
    content: $icon-command; 
  }
}
.icon-ctrl {
  &:before {
    content: $icon-ctrl; 
  }
}
.icon-checkbox-checked {
  &:before {
    content: $icon-checkbox-checked; 
  }
}
.icon-checkbox-unchecked {
  &:before {
    content: $icon-checkbox-unchecked; 
  }
}
.icon-radio-checked2 {
  &:before {
    content: $icon-radio-checked2; 
  }
}
.icon-radio-unchecked {
  &:before {
    content: $icon-radio-unchecked; 
  }
}
.icon-file-pdf {
  &:before {
    content: $icon-file-pdf; 
  }
}
.icon-file-excel {
  &:before {
    content: $icon-file-excel; 
  }
}
.icon-Add-2 {
  &:before {
    content: $icon-Add-2; 
  }
}
.icon-Arrows {
  &:before {
    content: $icon-Arrows; 
  }
}
.icon-Delete {
  &:before {
    content: $icon-Delete; 
  }
}
.icon-Search {
  &:before {
    content: $icon-Search; 
  }
}
.icon-Shop {
  &:before {
    content: $icon-Shop; 
  }
}
.icon-Tag {
  &:before {
    content: $icon-Tag; 
  }
}

}
