$icomoon-font-family: "tellicons" !default;
$icomoon-font-path: "assets/icons/tellicons" !default;

$icon-Arrows: "\e92f";
$icon-Attention-path1: "\e937";
$icon-Attention-path2: "\e938";
$icon-Attention-path3: "\e939";
$icon-Attention-path4: "\e93a";
$icon-Attention-path5: "\e93b";
$icon-Search: "\e93c";
$icon-Add-Image: "\e93d";
$icon-Shop: "\e933";
$icon-Delete: "\e92c";
$icon-Filter: "\e92d";
$icon-Gift: "\e92e";
$icon-loan: "\e930";
$icon-prize-tag: "\e931";
$icon-tag: "\e934";
$icon-select-arrows: "\e93e";
$icon-sort: "\f0dc";
$icon-unsorted: "\f0dc";
$icon-long-arrow-down: "\f175";
$icon-long-arrow-up: "\f176";
$icon-long-arrow-left: "\66";
$icon-long-arrow-right: "\f178";
$icon-commenting-o: "\f27b";
$icon-activity: "\e900";
$icon-arrow-down: "\e93f";
$icon-arrow-down-left: "\e940";
$icon-arrow-down-right: "\e941";
$icon-arrow-left: "\e942";
$icon-arrow-left-circle: "\e902";
$icon-arrow-right: "\e943";
$icon-arrow-right-circle: "\e903";
$icon-arrow-up: "\e944";
$icon-arrow-up-left: "\e945";
$icon-bluetooth: "\e904";
$icon-box: "\e905";
$icon-briefcase: "\e906";
$icon-check: "\e907";
$icon-chevron-down: "\e908";
$icon-chevron-left: "\e909";
$icon-chevron-right: "\e90a";
$icon-chevron-up: "\e90b";
$icon-chevrons-left: "\e90c";
$icon-command: "\e932";
$icon-delete: "\e90d";
$icon-download: "\e90e";
$icon-edit-2: "\e90f";
$icon-eye: "\e910";
$icon-gift1: "\e911";
$icon-log-in: "\e912";
$icon-map-pin: "\e936";
$icon-message-square: "\e946";
$icon-mic: "\e947";
$icon-minimize: "\e948";
$icon-minimize-2: "\e949";
$icon-moon: "\e94a";
$icon-more-horizontal: "\e913";
$icon-more-vertical: "\e94b";
$icon-package: "\e914";
$icon-plus: "\e915";
$icon-power: "\e916";
$icon-printer: "\e917";
$icon-repeat: "\e918";
$icon-rss: "\e919";
$icon-search: "\e91a";
$icon-settings: "\e91b";
$icon-share: "\e91c";
$icon-shopping-bag: "\e91d";
$icon-shopping-cart: "\e91e";
$icon-star: "\e91f";
$icon-thumbs-down: "\e920";
$icon-thumbs-up: "\e921";
$icon-trash: "\e922";
$icon-trash-2: "\e923";
$icon-trending-down: "\e924";
$icon-trending-up: "\e925";
$icon-truck: "\e926";
$icon-user: "\e927";
$icon-users: "\e928";
$icon-wifi: "\e929";
$icon-wifi-off: "\e92a";
$icon-x: "\e92b";
$icon-calender: "\e94c";
$icon-arrow-repeat: "\e94d";
$icon-minus-outline: "\e94e";
$icon-message: "\e94f";
$icon-location-outline: "\e950";
$icon-flash-outline: "\e951";
$icon-thumbs-up1: "\e952";
$icon-thumbs-down1: "\e953";
$icon-code-outline: "\e954";
$icon-arrow-repeat-outline: "\e955";
$icon-gift: "\e901";
$icon-messages: "\e956";
$icon-camera: "\e957";
$icon-eye1: "\e958";
$icon-like: "\e959";
$icon-clip: "\e95a";
$icon-world: "\e935";
$icon-pencil: "\e95b";
$icon-pencil2: "\e95c";
$icon-images: "\e95d";
$icon-credit-card: "\e95e";
$icon-phone: "\e95f";
$icon-compass: "\e960";
$icon-equalizer: "\e992";
$icon-equalizer2: "\e993";
$icon-spoon-knife: "\e9a3";
$icon-switch: "\e9b6";
$icon-attachment: "\e9cd";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-warning: "\ea07";
$icon-checkmark: "\ea10";
$icon-checkmark2: "\ea11";
$icon-play3: "\ea1c";
$icon-volume-medium: "\ea27";
$icon-arrow-up-left2: "\ea39";
$icon-arrow-up2: "\ea3a";
$icon-arrow-up-right2: "\ea3b";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down-right2: "\ea3d";
$icon-arrow-down2: "\ea3e";
$icon-arrow-down-left2: "\ea3f";
$icon-arrow-left2: "\ea40";
$icon-command1: "\ea4e";
$icon-shift: "\ea4f";
$icon-checkbox-checked: "\ea52";
$icon-radio-checked: "\ea54";
$icon-radio-checked2: "\ea55";
$icon-embed: "\ea7f";
$icon-file-pdf: "\eadf";
$icon-file-openoffice: "\eae0";
$icon-file-excel: "\eae2";

