$icomoon-font-family: "tellicons" !default;
$icomoon-font-path: "assets/icons/tellicons" !default;

$icon-code: "\e900";
$icon-menu: "\e901";
$icon-unfold_more: "\e902";
$icon-check_box: "\e92d";
$icon-check_box_outline_blank: "\e92e";
$icon-indeterminate_check_box: "\e92f";
$icon-toggle_off: "\e903";
$icon-toggle_on: "\e904";
$icon-two_wheeler: "\e905";
$icon-activity: "\e906";
$icon-alert-octagon: "\e907";
$icon-award: "\e91a";
$icon-bell: "\e91b";
$icon-bell-off: "\e91c";
$icon-bluetooth: "\e908";
$icon-calendar: "\e925";
$icon-camera: "\e930";
$icon-camera-off: "\e931";
$icon-chevron-down: "\e932";
$icon-chevron-left: "\e933";
$icon-chevron-right: "\e934";
$icon-chevron-up: "\e935";
$icon-chevrons-down: "\e936";
$icon-chevrons-left: "\e937";
$icon-chevrons-right: "\e938";
$icon-chevrons-up: "\e939";
$icon-eye: "\e93a";
$icon-image: "\e93b";
$icon-map-pin: "\e93c";
$icon-navigation: "\e93e";
$icon-phone: "\e940";
$icon-printer: "\e941";
$icon-repeat: "\e909";
$icon-rotate-ccw: "\e942";
$icon-rotate-cw: "\e943";
$icon-settings: "\e90a";
$icon-shopping-cart: "\e90b";
$icon-sliders: "\e90c";
$icon-thumbs-down: "\e944";
$icon-thumbs-up: "\e945";
$icon-trash-2: "\e90d";
$icon-trending-down: "\e90e";
$icon-trending-up: "\e90f";
$icon-truck1: "\e910";
$icon-user: "\e911";
$icon-users: "\e912";
$icon-wifi: "\e913";
$icon-wifi-off: "\e914";
$icon-x: "\e915";
$icon-x-square: "\e916";
$icon-zap: "\e917";
$icon-zap-off: "\e946";
$icon-chat: "\e918";
$icon-chat-2: "\e919";
$icon-heart-o: "\f08a";
$icon-long-arrow-down: "\f175";
$icon-long-arrow-up: "\f176";
$icon-long-arrow-left: "\f177";
$icon-long-arrow-right: "\f178";
$icon-dots-three-vertical: "\e91d";
$icon-chart-bar: "\e91f";
$icon-dots-three-vertical: "\e91d";
$icon-chart-bar: "\e91f";
$icon-checkmark: "\e920";
$icon-close: "\e921";
$icon-view-tile: "\e922";
$icon-mic: "\e923";
$icon-credit-card: "\e93f";
$icon-location: "\e947";
$icon-compass: "\e949";
$icon-spinner3: "\e97c";
$icon-search: "\e986";
$icon-equalizer: "\e992";
$icon-equalizer2: "\e993";
$icon-meter: "\e9a6";
$icon-truck: "\e9b0";
$icon-switch: "\e9b6";
$icon-sphere: "\e9c9";
$icon-attachment: "\e9cd";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-warning: "\ea07";
$icon-volume-medium: "\ea27";
$icon-command: "\ea4e";
$icon-ctrl: "\ea50";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-radio-checked2: "\ea55";
$icon-radio-unchecked: "\ea56";
$icon-file-pdf: "\eadf";
$icon-file-excel: "\eae2";
$icon-Add-2: "\e924";
$icon-Arrows: "\e926";
$icon-Delete: "\e928";
$icon-Search: "\e92a";
$icon-Shop: "\e92b";
$icon-Tag: "\e92c";

